{% extends "UAMBootstrapBundle::stickyfooter.html.twig" %}

{% trans_default_domain "editor" %}

{% block head_style %}
	{{ parent() }}
	{% stylesheets filter="cssrewrite"
		'bundles/frontend/css/common.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
	{{ parent() }}
	<script>
	var editor = {
		locale: "{{ app.request.locale }}"
	};
	</script>
{% endblock head_script %}

{% block wrapper %}{% endblock %}
{% block wrapper_close %}{% endblock %}

{% block body %}
	<header>
		<div class="header-top hidden-xs">
			<div class="container-fluid">
				<div class="row">
					<div class="header-custom" class="col-sm-7 col-md-6">
					</div>
				</div>
			</div>
		</div>
		<div class="header-bottom" data-spy="affix" data-offset-top="90" class="affix-top">
			<div class="container-fluid">
				<div class="visible-xs">
					<div class="header-logo-responsive">
						<a href="{{ path('home') }}">
							<img src="/bundles/frontend/images/logo-generic-150x39.png" />
						</a>
						<button class="btn navbar-btn navbar-toggle navbar-right" type="button" data-toggle="offcanvas">
							<span class="sr-only">{% block navbar_collapse %}collapse sidebar{% endblock %}</span>
							<span class="fa fa-bars fa-lg"></span>
						</button>
					</div>
				</div>
				<div class="hidden-xs">
					<nav class="navbar" role="navigation">
						<p> <a href="/"> Editor Page </a></p>
							{{ knp_menu_render('FrontendBundle:Builder:userMenu', { style: 'navbar-right' }) }}
							{% block main_menu %}{% endblock %}
					</nav>
				</div>
			</div>
		</div>
	</header>

<div class="main {% block page_class -%}{%- endblock %}">
	<div class="container-fluid">
		<div class="content">
			{% include "UAMBootstrapBundle::flash.html.twig" %}
			{% block content %}page content{% endblock content %}
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container-fluid">
		<div class="pull-right">{{ uam_version() }}</div>
		<div class="copyright">
			{% trans with { '%year%': "now"|date('Y') } %}copyright{% endtrans %}
		</div>
	</div>
</footer>

{% endblock body %}
