{% extends "UAMBootstrapBundle::stickyfooter.html.twig" %}

{% trans_default_domain "editor" %}

{% block head_style %}
	{{ parent() }}
	{% stylesheets filter="cssrewrite"
		'bundles/frontend/css/common.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock head_style %}

{% block header %}
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<a class="navbar-brand" href="{{ path('home') }}">
					{% block brand %}{% trans %}brand{% endtrans %}{% endblock %}
				</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<div>
{#					{{ knp_menu_render('FrontendBundle:Builder:userMenu', { style: 'navbar-right' }) }}#}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
<div class="container">
	<div class="{% block page_class %}{% endblock %}">
		{% block page_nav %}{% endblock %}
		<h2 class="content_title">{% block page_title %}{% endblock %}</h2>
		{% include "UAMBootstrapBundle::flash.html.twig" %}
		{% block content %}<h1>page content</h1>{% endblock %}
	</div>
</div>
{% endblock %}

{% block footer %}
	{#<div class="pull-right">{{ uam_version() }}</div>
	<div class="copyright">
		&copy; {{ "now"|date('Y') }} <a href="http://www.united-asian.com">United Asian Management Limited</a>. {% trans %}copyright{% endtrans%}
	</div>#}
{% endblock %}
