{% extends is_granted("ROLE_USER") ? "UAMBootstrapBundle::leftsidebar.html.twig" : "UAMBootstrapBundle::stickyfooter.html.twig" %}

{% trans_default_domain "editor" %}

{% set container_class = "container-fluid" %}

{% block head_style %}
	{{ parent() }}
	{% stylesheets filter="cssrewrite"
		'bundles/frontend/css/common.css'
		'bundles/frontend/css/table.css'
		'bundles/uambootstrap/css/datatables.css'

	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
	{% endstylesheets %}
{% endblock head_style %}

{% block header %}
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<a class="navbar-brand" href="{{ path('home') }}">
					{% block brand %}{% trans %}brand{% endtrans %}{% endblock %}
				</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<div>
					{{ knp_menu_render('FrontendBundle:Builder:userMenu', { style: 'navbar-right' }) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block container_class %}container-fluid{% endblock %}

{% block sidebar %}
	sidebar
{% endblock %}

{#
{% block main %}
	<div class="container-fluid {% block page_class %}{% endblock %}">
		{% block page_nav %}{% endblock %}
		<h1>{% block page_title %}{% endblock %}</h1>

		{% block flash -%}
			{% include "UAMBootstrapBundle::flash.html.twig" %}
		{%- endblock %}

		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}
#}

{% block footer %}
<div class="container-fluid">
	<div class="pull-right"><a href="{{ path('home') }}">{% trans %}tos{% endtrans%}</a></div>
	<div class="copyright">
		&copy; {{ "now"|date('Y') }} <a href="http://www.united-asian.com">United Asian Management Limited</a>. {% trans %}copyright{% endtrans%}
	</div>
</div>
{% endblock %}
